@keyframes loader {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

body {
  direction: rtl;
  font-family: IRANSans;
}
.chat .item .middle ul > li:nth-of-type(odd) {
  justify-content: flex-end;
  text-align: left;
}
.chat .item .middle ul > li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  text-align: right;
}
.chat .item .middle ul > li:nth-of-type(odd) .content {
  -ms-flex-order: 1;
  order: 1;
}
.chat .item .middle ul > li:nth-of-type(odd) img {
  margin-left: 0;
  margin-right: 15px;
  -ms-flex-order: 2;
  order: 2;
}
.settings > ul > li > .headline .eva {
  transform: rotate(180deg);
}
.settings
  > ul
  > li
  > .headline[data-toggle="collapse"][aria-expanded="true"]
  .eva-arrow-ios-downward {
  transform: rotate(360deg);
}

.discussions .content p {
  font-weight: 200;
  font-size: 13px;
}

.loader {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loader__content__img {
  width: 80px;
  height: 80px;
  animation: loader 0.8s infinite;
}

.map__view {
  width: 100%;
  height: 100vh;
}

.map__view .leaflet-container {
  height: 100%;
}

.online-users-popup .leaflet-popup-content-wrapper {
  background: transparent;
  box-shadow: none;
}

.online-users-popup .leaflet-popup-content,
.online-users-popup .leaflet-popup-content p {
  margin: 0;
}

.map__popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdfdfd;
  padding: 15px;
  border-radius: 15px;
  border: 5px solid #eee;
}

.map__popup img {
  border-radius: 50%;
}

.map__popup span {
  color: #000;
  font-family: 'IRANSans';
}
